<div class="my-account-container">
  <div class="profile-content">
    <div class="profile-header">
      <div class="profile-photo">
        <img src="../../assets/users/me.jpg" alt="User Photo">
        <input type="file" id="upload-photo" accept="image/*">
      </div>
      <div class="profile-info">
        <h3>Admin Name</h3>
        <p>adminexample.com</p>
      </div>
    </div>
    <h2>Personal Information</h2>
    <form>
      <div class="form-group">
        <label for="first-name">First Name</label>
        <input type="text" id="first-name" >
      </div>
      <div class="form-group">
        <label for="last-name">Last Name</label>
        <input type="text" id="last-name">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" >
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <input type="tel" id="phone-number" >
      </div>
      <div class="form-group">
        <label for="cin">CIN</label>
        <input type="text" id="cin">
      </div>
      <div class="form-group">
        <label for="password">New Password</label>
        <input type="password" id="password">
      </div>
      <div class="form-group">
        <label for="security-question">Security Question</label>
        <input type="text" id="security-question">
      </div>
      <div class="form-group">
        <label for="security-answer">Security Answer</label>
        <input type="text" id="security-answer">
      </div>
      <p class="info-text">
        In order to access some features of the Service, you will have to fill out your account details. You may use it for buying things also for shipping process for more details click <a href="#">here</a>.
      </p>
      <div class="form-actions">
        <button type="submit" class="save-button">Save</button>
        <button type="button" class="cancel-button">Cancel</button>
      </div>
    </form>
  </div>
</div>
