<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body class="background">
    <div class="containersize">
        <pre class="welcome" style="font-size: 40px;color: white;">
     welcome to 
     <div class="gras">stadium booking</div> 
we make it for you
        </pre>

        <img src="../../assets/logo/1-removebg-preview.png" width="250px" height="250px" class="img1">
        <button (click)="navigateToSignInPage()" class="button">Sign in</button>
    </div>
    <pre class="pre2"> forgetpassword 
        <div class="w">stadium booking</div> </pre>
    <form (ngSubmit)="onSubmit()">
        <table>
            <tr>
                <td>
                    <label for="cin">CIN:</label><br>
                    <input type="text" [(ngModel)]="cin" name="cin" required><br>
                </td>
                <td>
                    <button type="button" class="search" (click)="verifyCin()">Search</button>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="securityQuestion">Security Question:</label><br>
                    <input size="40px" type="text" [(ngModel)]="securityQuestion" name="securityQuestion" disabled><br>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="answer">Answer:</label><br>
                    <input size="40px" type="text" [(ngModel)]="answer" name="answer" required><br>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="newPassword">New Password:</label><br>
                    <input size="40px"  type="password" [(ngModel)]="newPassword" name="newPassword" required><br>
                </td>
            </tr>
        </table>
        <button class="button2" type="submit">Save</button>
    </form>
</body>
